<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyodorwolf.studybudy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fyodorwolf.studybudy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fyodorwolf.studybudy.DeckActivity"
            android:label="@string/deck_name" >
            <intent-filter>
                <action android:name="android.intent.action.DECK" />
                <category android:name="android.intent.category.APP" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fyodorwolf.studybudy.CreateCardActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/create_card" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_CARD" />
                <category android:name="android.intent.category.APP" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fyodorwolf.studybudy.CreateDeckActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/create_deck" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_DECK" />
                <category android:name="android.intent.category.APP" />
            </intent-filter>
        </activity>
    </application>
    
</manifest>